.logo {
  font-size: 70px;
  color: #5c47d3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.login-button {
  margin-right: 40px;
  background-color: #5c47d3df;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px 20px;
  border-radius: 55px;
  color: white;
  font-size: 20px;
}
.login-button img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.login-button:hover,
.logo-container:hover {
  cursor: pointer;
}

header {
  background-color: #f8f8f8;
  padding: 20px 0;
  position: sticky;
  top: 0;
  border-bottom: rgba(255, 255, 255, 0.659) solid 1px;
  z-index: 1;
}
@media (max-width: 1400px) {
  .logo-container {
    padding-left: 20px;
  }
  .login-button {
    margin-right: 20px;
  }
}
@media (max-width: 600px) {
  .logo-container h1 {
    font-size: 20px;
  }
  .logo {
    font-size: 40px;
  }
  .logo-container {
    gap: 5px;
  }

  .login-button {
    gap: 5px;
    padding: 2px;
  }
  .login-button span {
    display: none;
  }
}
