.tasklist {
  display: flex;
  gap: 10px;
  margin: 10px 0;
}

.tasklist .row {
  gap: 10px;
}
.notEm {
  width: 16px;
}
.hot {
  color: rgba(255, 166, 0, 0.551);
}
.tasklist .endLineT {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.endLineT span {
  font-size: 10px;
  align-self: center;
}
.checkbox {
  height: 15px;
  width: 15px;
  background-color: rgba(191, 185, 185, 0.362);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px rgba(128, 128, 128, 0.47);
}

.checkbox.activ {
  background-color: #7260d8;
  border: solid 1px white;
}
.checkTask {
  font-size: 6px;
}
.checkTask.activ {
  color: white;
}
.checkbox:hover,
.trash:hover {
  cursor: pointer;
}
.activ-p {
  text-decoration: line-through 2px;
}
.p-task:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .tasklist .row {
    font-size: 13px;
  }
  .trash {
    font-size: 14px;
  }
  .endLineT span {
    display: none;
  }
}
