.toDo {
  display: flex;
  gap: 20px;
}
.pro {
  background-color: aqua;
  height: 300px;
  flex: 1;
  padding: 20px;
}

.perso {
  background-color: burlywood;
  height: 300px;
  flex: 1;
  padding: 20px;
}
.tasks form {
  width: 50%;
  margin: 20px auto;
  background-color: blueviolet;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}
.row {
  display: flex;
  justify-content: space-around;
}

.task {
  display: flex;
  justify-content: space-between;
}
.checkbox {
  height: 15px;
  width: 15px;
  background-color: white;
  border-radius: 50%;
}
.checkbox.activ {
  background-color: blueviolet;
}
.activ-p {
  text-decoration: line-through;
}
