.tasks {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.taskToShow {
  width: 80%;
  margin: 0 auto;
  position: sticky;
  top: 120px;
  border-radius: 20px;
  background-color: #7260d8da;
  border: solid 2px #f8f8f8;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 5px;
}
.taskToShow div {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.taskToShow p {
  color: white;
}
.taskP {
}
.taskToShow .close {
  color: white;
  font-size: 20px;
}
.close:hover {
  cursor: pointer;
}
.tasks form {
  width: 50%;
  margin: 0px auto;
  background-color: #f8f8f8;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 20px;
  border-radius: 20px;
  gap: 30px;
}
.tasks input {
  padding: 5px;
  border-radius: 5px;
  border: none;
  text-align: center;
  color: gray;
}
.tasks input:focus {
  outline: none;
}
.tasks label {
  font-size: 16px;
  color: gray;
}
.row {
  display: flex;
}
.tasks .row {
  justify-content: space-between;
}
.row .submit {
  width: 60%;
  border-radius: 55px;
  border: none;
  margin-left: 40px;
  background-color: #7260d8;
  color: white;
  font-size: 20px;
}
.tasks label:hover,
.tasks input:hover {
  cursor: pointer;
}
.submit:hover {
  background-color: #5c47d39f;
  cursor: pointer;
}

.taskCounter {
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 20px;
  width: fit-content;
  /* margin: 0 auto; */
  margin-left: 40px;
  color: gray;
}
.tasks form .error {
  text-align: center;
}
.toDo {
  display: flex;
  gap: 20px;
  color: gray;
}
.toDo h1 {
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  border-bottom: solid 1px rgba(128, 128, 128, 0.337);
  margin-bottom: 20px;
}

.pro {
  background-color: #f8f8f8;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
}

.perso {
  background-color: #f8f8f8;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
}

@media (max-width: 1270px) {
  .tasks form {
    width: 80%;
  }
  .tasks {
    padding: 40px 20px;
  }
}
@media (max-width: 1100px) {
  .row .submit {
    font-size: 14px;
  }
  .toDo {
    flex-direction: column-reverse;
  }
}
.taskCounter {
  margin: 0 auto;
}
@media (max-width: 500px) {
  .tasks label {
    font-size: 12px;
  }
  .tasks .top.row .cB-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
  }
  .tasks .top.row {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .tasks .top.row .submit {
    margin: 0 auto;
    padding: 10px 20px;
  }
  .toDo h1 {
    font-size: 15px;
  }
}
